* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(180deg, #203a2f 8%, #008f4c 83%);
}

#contenedorJugador {
    margin-top: 20px;
    display: flex;
}

#imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #1a1f2c;
    max-width: 500px;
    overflow: hidden;
}

#imagen img {
    height: 100%;
    object-fit: cover;
}

#contenedorEstadisticas {
    flex: 2;
    background-color: #34495e;
}

#estadisticas {
    width: 300px;
    background-color: #1a1f2c;
    margin-left: 50px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    padding-left: 20px;
}

#estadisticas>div {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
}

#estadisticas p {
    color: white;
    margin: 0;
}

#estadisticas p:first-child {
    font-size: 50px;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-left: 50px;
}
